version: 2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.4.1

    steps:
      - checkout
      - run:
          name: install-awesome-bot
          command: 'gem install awesome_bot'
      - run: awesome_bot README.md --allow-dupe --allow-ssl --allow-redirect
